[Unit]
Description=Timeshift Backup Alert
After=network.target

[Service]
ExecStart=/usr/local/bin/timeshift_alert.sh
Restart=always
User=ramin-samadi

[Install]
WantedBy=default.target
